* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid #ccc;
}

.logo {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

nav a.active {
    color: #4a7ee3;
    font-weight: bold;
}

nav a:hover {
    color: #4a7ee3;
    font-weight: bold;
    transition: all 0.3s ease;
}

.icon .fa-cart-shopping {
    font-size: 22px;
}

.shopping-cart {
    border: 1px solid #ccc;
    padding: 8px 10px;
    border-radius: 5px;
}

.shopping-cart:hover {
    background-color: #4a7ee3;
    color: white;
    transition: background-color 0.3s ease;
}

.login-signup {
    border: 1px solid #ccc;
    padding: 10px 10px;
    border-radius: 5px;
}

.login-signup:hover {
    background-color: #4a7ee3;
    color: white;
    transition: background-color 0.3s ease;
}


main {
    padding: 40px;
    text-align: center;
}

h1 {
    font-size: 38px;
    font-weight: 400;
}

.get-started {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #4a7ee3;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 40px;
    justify-content: center;
    align-items: start;
    padding: 0 10%;
}

.box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 6px;
    text-align: left;
}

.box .text {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
    }

    header {
        flex-direction: column;
        border-bottom: none;
    }

    .logo {
        display: none;
    }

    header nav {
        margin-top: 10px;
        flex-direction: column;
        gap: 10px;
    }

    header nav a {
        margin: 0 10px;
    }

    header nav a.forums {
        margin-bottom: 10px;
    }

    h1 {
        font-size: 32px;
    }

    .get-started {
        width: 40%;
        text-align: center;
    }

    .box {
        text-align: center;
        width: 400px;

    }

    .box .text {
        text-align: center;
    }

    .shopping-cart {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .login-signup {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .icon .fa-cart-shopping {
        font-size: 18px;
    }
}